/* others */
$colorbg:      #151515;
$colorfg:      #ddccbb;
$colorcr:      #282828;

/* black */
$color0:       #393939;
$color8:       #af875f;

/* red */
$color1:       #bf1e2d;
$color9:       #e7212a;

/* green */
$color2:       #9dba3a;
$color10:      #a9c938;

/* yellow */
$color3:       #f5b915;
$color11:      #f7d325;

/* blue */
$color4:       #1ca1db;
$color12:      #00afda;

/* magenta/orange */
$color5:       #652f90;
$color13:      #894e9f;

/* cyan */
$color6:       #ea7d24;
$color14:      #f79321;

/* white */
$color7:       #e7e8e9;
$color15:      #f3f4f4;
